.categories{

background: red;
	.custom-row{
		margin:0 0 5px 0;
	}
	.custom-product-header{
    	text-align: center;
	}
	.custom-margin{
		border: 1px solid #ddd;
		padding: 2px 0px 0px 2px;
		margin: 1px 1px 3px 1px;
	}
 }
 @media (min-width: 482px){
	.categories{

	}
}
@media (min-width: 768px) {
	.categories{

	}
}	    
@media (min-width: 992px) {
	.categories{

	}
}

