html, body {
  height: 100%;
}
.row-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
  }
}
.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}
.row-flex > div[class*='col-'] {
  margin: -.2px;
  /* hack adjust for wrapping */
}
.container-flex > div[class*='col-'] {
  margin: -.2px;
  /* hack adjust for wrapping */
  div {
    width: 100%;
  }
}
.row-flex > div[class*='col-'] div {
  width: 100%;
}
.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}
.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}
/* Custom Columns 
-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: absolute;
  min-height: 100%;
}
body {
/* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
/* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container-custom{
    width: 115%;
}
/*  Not required for template or sticky footer method. 
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
/* Custom Bottom Border
-------------------------------------------------- */
.custom-border{
    padding-bottom: 10px;
    border-bottom: dotted;
    border-width: 5px;
    border-color: #D40F18;
}
/* Custom Bottom Border
-------------------------------------------------- */
.custom-text {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}
/* Custom Columns 
-------------------------------------------------- */
.custom-footer{
  width: 100vw;
  min-width: 100vw
}
/* Custom Fotter 
-------------------------------------------------- */
